bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/*.vsidx
.vs/PcbDispatchTestTask/FileContentIndex/*.vsidx
.vs/PcbDispatchTestTask/CopilotIndices/17.13.439.2385/
.vs/PcbDispatchTestTask/v17/
.vs/ProjectEvaluation/
.vs/PcbDispatchTestTask/DesignTimeBuild/
.vs/PcbDispatchTestTask/copilot-chat/cf3d9f71/sessions/
PcbDispatchService/PcbDispatchService.csproj.user
TestResults/4c89133c-052e-40f6-a45f-88a24181db29/NFall_DESKTOP-GBNG4LQ_2025-05-26.16_36_41.coverage
